@model IEnumerable<S1G1_PVFAPP.Models.US>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GoesIntoQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCT.ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RAWMATERIAL.MaterialName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GoesIntoQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCT.ProductDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RAWMATERIAL.MaterialName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UsesID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UsesID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UsesID })
        </td>
    </tr>
}

</table>
